<div class="ui container">
  <h3 class="ui top attached header">
    <i class="users icon"></i>
    <div class="content">
      My Teams
    </div>
  </h3>
  <div class="ui attached segment">
    <div class="ui middle aligned animated selection list">
      <% current_user.teams.each do |team| %>
      <div class="item">
        <div class="content">
          <div class="header">
            <%= team.name %>
          </div>
          <div class="description">
            <em><%= pluralize(team.users.count, 'member') %></em>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>