// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.fieldset {
  border: none;
  display: flex;
  margin-left: 0px;
  padding-left: 0px;
}

.rating {
  width: 150px;
}