<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="active item">
      Home
    </a>
    <a class="item">
      Teams
    </a>
    <a class="item">
      Account
    </a>
  </div>
</div>